* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  height: 75vh;
  background-image: url(img/background-body.jpg);
  background-size: cover;
  min-width: 400px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
}

body::before {
  content: "";
  display: block;
  background-image: url(img/bkg.jpg);
  background-size: cover;
  background-position: center;
  height: 25vh;
  border-bottom: 5px solid white;
}

main {
  display: grid;
  gap: 1.4rem;
  place-items: center;
}

div.img-elton img {
  margin-top: -5rem;
  width: 7.5rem;
  height: 8rem;
  border-radius: 50%;
  border: 5px solid white;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 1.5rem;
  border-right: 4px solid white;
  animation: blink-cursor 500ms steps(40) infinite normal, write-text steps(40) 4s normal;
  white-space: nowrap;
  overflow: hidden;
}

p {
  text-align: center;
}

/*Estilização dos links*/

section.links {
  display: grid;
  place-items: center;
  gap: 1.5rem;
}

section.links button {
  width: 15rem;
  background-image: url(img/background-button.jpg);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border:none;
  padding: .7rem 0;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: 150ms;
}

button img {
  position: absolute;
  left: -.8rem;
  top: -.15rem;  
}

button::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(img/pin.ico);
  background-size: cover;
  position: absolute;
  right: .5rem;
  top: -1rem;
}

button:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 5px 0px black;
}

/*Estilização do footer*/

footer p {
  font-size: .8rem;
  letter-spacing: 0;
  font-weight: bold;
}

/*Animações*/

@keyframes blink-cursor {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
}

@keyframes write-text {
    
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}