* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-default: 'Courier Prime', monospace;
  --color-default: white;
  --color-matrix: #42C920;
  --bg-button: #202024;
  --bg-gradient: linear-gradient(45deg, #ff0000, #ffff00, #42C920, #001aff);
}

body * {
  font-family: var(--font-default);
  text-decoration: none;
  color: var(--color-default);
}

.hide {
  display: none;
}

body{
  background-color: #121214;
  background-image: url(img/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  display: block;
  background-image: url(https://images.unsplash.com/photo-1592424002053-21f369ad7fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  background-position: center;
  height: 25vh;
  border-bottom: 4px solid var(--color-matrix);
}

main {
  display: grid;
  gap: 1.2rem;
  place-items: center;
  text-align: center;
}

img.img-elton {
  width: 8rem;
  margin-top: -4.5rem;
  padding: .3rem;
  background: linear-gradient(45deg, #42C920, #ffff00, #42C920, #ffff00);
  border-radius: 50%;
}

.text h1 {
  color: var(--color-default);
  font-family: 'Special Elite', cursive;
  font-size: 1.5rem;
  border-right: 4px solid white;
  width: 0;
  animation: blink-cursor 500ms steps(40) infinite normal, write-text steps(40) 4s 1s normal forwards;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: .5rem;
}

.function-dev {
  color: var(--color-matrix);
  margin-bottom: .5rem;
}

.icons-dev {
  width: 10rem;
  z-index: 100;
}

.border {
  padding: .3em;
  background: var(--bg-gradient);
  border-radius: .5rem;
}

.networks {
  background:var(--bg-button);
  border-radius: .5rem;
  padding: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.network-icon {
  width: 3.5rem;
  transition: .1s;
}

.networks a {
  transform: scale(0);
  animation: appear 1s forwards;
}

.networks a:nth-child(1) {
  animation-delay: 0;
}

.networks a:nth-child(2) {
  animation-delay: 1s;
}

.networks a:nth-child(3) {
  animation-delay: 2s;
}

.networks a:nth-child(4) {
  animation-delay: 3s;
}

.network-icon:hover {
  transform: scale(1.2);
}

@keyframes blink-cursor {
    from {
      border-color: var(--font-default);
    }
    to {
      border-color: transparent;
    }
}

@keyframes write-text {
    
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  
  100% {
    transform: scale(1);
  }
}